h1 {
  color: rgb(0, 0, 0);
}

h2 {
  color: rgb(233, 11, 11);
}

div .headtext {
  color: rgba(30, 29, 21, 0.745);
}

.contents {
  color: rgb(255, 0, 0);
}

.contents .wordcontent {
  color: rgb(0, 0, 0);
}

.text p {
  color: rgba(30, 29, 21, 0.862);
}

.listfilm {
  color: rgb(30, 29, 21, 0.862);
}
